<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.5/css/flag-icons.min.css" rel="stylesheet" type="text/css" media="all" /> 
<script type="text/javascript">

  $(document).ready(function(){
    var onSelectedValue = $(".custom-select select option:selected").text();
    $( ".site-header__links .select-box__input" ).each(function( index ) {
      if($(this).data('value') == onSelectedValue )
      {
        $(this).prop('checked', true)
      }
    });

    $(".select-box__current input[type='radio']").click(function(e){    
      var currencyPicked = $(".select-box__current input[type='radio']:checked").val();        
      $("form[id=currency_form] .custom-select select option").each(function(){
        if($(this).val()==currencyPicked){ 
          $(this).attr("selected",true);            
          var result = $(this).parents('.site-header__links').find('.select-box__input').data('value');
          $('#currency_form').submit();
        }
        else {
          $(this).attr("selected",false);
        }
      });
    });
  });

</script>
{% include 'dT_top-search' %}

{% capture primaryMenu %}
{%- if section.settings.pick_menu -%}
{%- assign main_menu_linklist = section.settings.pick_menu-%}
{%- else -%}
{%- assign main_menu_linklist = 'main-menu' -%}
{%- endif -%}

{%- if section.settings.pick_menu != blank -%}
<ul class="dt-sc-list-inline  dt-desktop-menu dt-nav" data-menu="dt-main-menu">
  <li class="close-nav"></li>
  {%- for link in linklists[main_menu_linklist].links -%}
  {%- assign Fetchlevel = true -%}
  {% render 'navigation', class: 'primaryMenu', link: link, pack: 'dt-sc-menu', loop: forloop.index, section: section, Fetchlevel: Fetchlevel %} 
  {%- endfor -%}
</ul>
{%- endif -%}
{%  endcapture %}

{% capture secondaryMenu %}
{%- if section.settings.show_secondary_menu -%}
{%- assign secondary_menu_linklist = section.settings.secondary_menu -%}
{%- else -%}
{%- assign secondary_menu_linklist = 'main-menu' -%}
{%- endif -%}

{%- if section.settings.secondary_menu != blank -%}
<ul class="dt-sc-list-inline  dt-desktop-menu dt-nav secondary__nav">
  {%- for link2 in linklists[secondary_menu_linklist].links -%}
  {%- assign Fetchlevel = true -%}
  {% render 'navigation', class: 'secondaryMenu', link: link2, pack: 'dt-sc-menu', loop: forloop.index, section: section, Fetchlevel: Fetchlevel %} 
  {%- endfor -%}     
</ul>
<div class="mobile-nav-container mobile-nav-offcanvas-right dt-header-menu" data-menu="dt-main-menu">    
  <div class="menu-trigger" data-menu="dt-main-menu">  <i class="menu-trigger-icon"></i></div>             
</div>
{%- endif -%}
{%  endcapture %}

{% capture header_icons %}
{% if section.settings.show_account or section.settings.show_header_cart or section.settings.show_header_wishlist or section.settings.show_header_compare or section.settings.show_header_currency or section.settings.search_type == 'search-icon' %}
<div class="site-header__links dt-sc-flex">
  {% if section.settings.enable_social_icon %}
    {% include 'social-links', social_styleClass: 'dt-sc-list-inline' %}  
  {% endif %}
  {%- unless section.settings.show_secondary_menu or  section.settings.menu_align == 'menu_bottom'  -%}
  <div  class="mobile-nav-container mobile-nav-offcanvas-right dt-header-menu" data-menu="dt-main-menu"><div class="menu-trigger" data-menu="dt-main-menu">  <i class="menu-trigger-icon"></i></div> </div> 
  {% endunless %}

  {% if shop.customer_accounts_enabled and section.settings.show_account %}
  <div class="dt-sc-header-toggle">
    <a class="user-group dt-sc-toggle"> {% include 'icon-login' %}</a>
    <ul class="dt-sc-toggle-content">
      {% if customer %}
      <li><a href="{{ routes.account_url }}" class="site-header__icon site-header__account"> {{ 'layout.customer.account' | t }} </a> </li>
      <li><a href="{{ routes.account_logout_url }}"  class="site-header__icon site-header__account"> {{ 'layout.customer.log_out' | t }} </a> </li>
      {% else %}
      <li> <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">{{ 'layout.customer.log_in' | t }}</a></li>
      <li> <a href="{{ routes.account_register_url  }}" class="site-header__icon site-header__account"> {{ 'layout.customer.create_account' | t }} </a> </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}

  {% if section.settings.show_header_cart %}
  <a href="{{ routes.cart_url }}" {% if settings.ajax_cart_method == 'drawer' %}class="site-header__cart-toggle js-drawer-open-right dT_MiniCartModelBtn" aria-controls="CartDrawer" aria-expanded="false" {% else %}class="site-header__icon site-header__cart dt-sc-flex"{% endif %} id="cart-number">
    <span class="icon__fallback-text">{{ 'cart.general.title' | t }}</span> <div id="CartCount" data-cart_item_count="{{ cart.item_count }}" data-show_cnt_zero="yes" class="hidden site-header__cart-count{% if cart.item_count == 0 %} xhide{% endif %}" > <span class="count CartCount">{{ cart.item_count }}</span> <span class="cart-words">{{ 'cart.general.items_count' | t: count: cart.item_count }}</span> </div>
    
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 500 625" style="enable-background:new 0 0 500 625;" xml:space="preserve">
<g>
	<path style="fill:none;" d="M250,184.5c23.307,0,46.603,0,69.9,0c0-15.033,0-30.067,0-45.1c-23.269,0-46.577,0-69.9,0
		c0,1.3,0,2.607,0,3.9C250,157.033,250,170.767,250,184.5z"/>
	<path style="fill:none;" d="M349.9,184.5c26.278,0,52.533,0,78.815,0c3.775-14.926,7.541-29.853,11.307-44.779
		c-7.679-0.085-15.38-0.32-23.022-0.32c-22.341,0-44.732,0-67.1,0c0,1.3,0,2.607,0,3.9C349.9,157.033,349.9,170.767,349.9,184.5z"/>
	<path style="fill:none;" d="M220,214.5c-24.221,0-48.426,0-72.643,0c3.313,13.602,6.62,27.209,9.943,40.8
		c0.219,0.9,0.439,1.8,0.658,2.7c6.993,0,13.972,0,20.942,0c13.691,0,27.398,0,41.1,0c0-1.267,0-2.54,0-3.8
		C220,240.967,220,227.733,220,214.5z"/>
	<path style="fill:none;" d="M167,184.5c17.68,0,35.337,0,53,0c0-15.033,0-30.067,0-45.1c-23.733,0-47.467,0-71.2,0
		c-6.582,0-13.164,0-19.746,0c3.663,15.034,7.332,30.062,10.991,45.1C149.03,184.5,158.015,184.5,167,184.5z"/>
	<path style="fill:none;" d="M319.9,214.5c-23.307,0-46.604,0-69.9,0c0,14.5,0,29,0,43.5c23.308,0,46.611,0,69.9,0
		c0-1.267,0-2.54,0-3.8C319.9,240.967,319.9,227.733,319.9,214.5z"/>
	<path style="fill:none;" d="M349.9,214.5c0,14.5,0,29,0,43.5c20.087,0,40.169,0,60.265,0c0.639-2.573,1.276-5.147,1.935-7.7
		c3.004-11.933,6.025-23.867,9.04-35.8c-6.513,0-13.026,0-19.54,0C384.354,214.5,367.13,214.5,349.9,214.5z"/>
	<path d="M132.772,281.531c3.407,13.991,6.809,27.988,10.228,41.969c2.8,11.5,5.6,23,8.4,34.6c1.6,6.4,8,11,14.5,11
		c28.9,0,57.8,0,86.6,0c46,0,91.9,0,137.9,0c10.5,0,20.9,0,31.4,0c7.8,0,15.4-6.9,15-15c-0.4-8.1-6.6-15-15-15
		c-28.9,0-57.8,0-86.6,0c-46,0-91.9,0-137.9,0c-6.548,0-13.062,0-19.58,0c0.893,3.667,1.787,7.333,2.68,11c-4.9-3.7-9.7-7.3-14.5-11
		c3.952,0,7.885,0,11.82,0c-4.151-17.033-8.301-34.067-12.452-51.1c-6.789,0-13.571,0-20.368,0
		C139.752,288,135.439,285.402,132.772,281.531z"/>
	<!-- SVG truncated for brevity (unchanged)… -->
</g>
</svg>

  </a>
  {% endif %}

  <a href="/pages/wishlist" class="site-header__icon site-header__wishlist {% unless section.settings.show_header_wishlist %} hidden {% endunless %}">
    {% include 'icon-heart' %}
    <div> <span class="count dt-wishlist-cnt"></span> <span class="icon__fallback-text">{{ 'products.wishlist.wishlist_name' | t }}</span> </div>
  </a>

  <a href="/pages/compare" class="site-header__icon site-header__compare {% unless section.settings.show_header_compare %} hidden {% endunless %}">
    {% include 'icon-compare' %}  
    <span class="icon__fallback-text">{{ 'products.compare.compare_name' | t }}</span>
  </a>

  {% if section.settings.search_type == 'search-icon' %}
  <a href="/search" class="site-header__icon site-header__search_icon dT_TopStickySearchBtn">
    {% include 'icon-search' %}
    <span class="icon__fallback-text">{{ 'products.search.search_name' | t }}</span>
  </a>
  {% endif %}

  {% if section.settings.show_header_currency %}  
  {% form 'currency'%}
  <div class="select-box">

    <div class="select-box__current" tabindex="1">
      {% for currency in shop.enabled_currencies %}
      {% assign isoCode = currency.iso_code  | handle  %}
      {% assign isoSize = isoCode | size | minus: 1 %}   
      <div class="select-box__value"> <input class="select-box__input" type="radio" id="{{ forloop.index }}" data-value="{{currency.iso_code}}" value="{{ currency.iso_code }}" name="Currencies" checked="checked"/> <p class="select-box__input-text"><span  class="flag-icon flag-icon-{{ isoCode | slice: 0, isoSize }}"></span> {{ currency.iso_code }}</p> </div>
      {% endfor %}
    </div>

    <ul class="select-box__list">
      {% for currency in shop.enabled_currencies %}
      {% assign isoCode = currency.iso_code  | handle  %}
      {% assign isoSize = isoCode | size | minus: 1 %}   
      <li data-value="{{currency.iso_code}}"><label class="select-box__option" for="{{ forloop.index }}" aria-hidden="aria-hidden"><span  class="flag-icon flag-icon-{{ isoCode | slice: 0, isoSize }}"></span> {{ currency.iso_code }}</label> </li>
      {% endfor %}
    </ul>

  </div>
  <div class="custom-select hidden">
    <select name="currency">
      {% for currency in shop.enabled_currencies %}
      {% assign isoCode = currency.iso_code  | handle  %}
      {% assign isoSize = isoCode | size | minus: 1 %}     
      {% if currency == cart.currency %}
      <option selected="true" class="flag-icon flag-icon-{{ isoCode | slice: 0, isoSize }}">{{currency.iso_code}}</option>
      {% else %}
      <option class="flag-icon flag-icon-{{ isoCode | slice: 0, isoSize }}">{{currency.iso_code}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  {% endform %}   
  {% endif %} 

</div>
{% endif %}
{%  endcapture %}

{% capture logo %}
{% if section.settings.logo %}
{%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
<div  class="logo{% unless section.settings.menu_align == 'logo_left' %} text-center{% endunless %}"><a href="{{ routes.root_url }}" title="{{shop.name}}" > {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %} <img src="{{ section.settings.logo | img_url: 'master' }}"  alt="{{ logo_alt | escape }}"  style="max-width: {{- section.settings.logo_max_width | append: 'px' -}}"></a></div>
{% else %}
<a href="{{ routes.root_url }}">{{ shop.name }}</a>
{% endif %} 
{% endcapture %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
  <header id="header">
    {%- if section.settings.show_announcement -%}
    {% render 'announcement' %}
    {% endif %}
    {% if section.settings.header_mail != blank or  section.settings.header_phone != blank or section.settings.show_header_social or section.settings.show_secondary_menu  or
      section.settings.show_account or section.settings.show_header_cart or  section.settings.show_header_wishlist or section.settings.show_header_compare or section.settings.show_header_currency -%}

    {% unless section.settings.disable_topbar %}
    <section class="dt-sc-header-top-bar {% if section.settings.disable_topbar_mobile %} hide-mobile {% endif %}">
      <div class="{% render 'container-settings' %}"> 
        <div class="row">
          <div class="dt-sc-flex-space-between">
            {% if section.settings.header_mail != empty or section.settings.header_phone != empty   %}
            <ul class="dt-sc-list-inline header-contact">
              {% if section.settings.header_mail != empty %}
              <li><a href="mailto:{{ section.settings.header_mail }}"><i class="fa fa-envelope" aria-hidden="true"></i> <span>{{ section.settings.header_mail }}</span></a>
                {% endif %}
                {% if section.settings.header_phone != empty %}
              <li><a href="tel:{{ section.settings.header_phone }}"><i class="fa fa-phone" aria-hidden="true"></i> <span>{{ section.settings.header_phone }}</span></a> </li>
              {% endif %}
            </ul>
            {% endif %}

            {% if section.settings.show_header_social %}
            <div class="dt-sc-list-inline">
              {% if section.settings.show_header_social %}
              {% include 'social-links', social_styleClass: 'dt-sc-list-inline' %}                              
              {% endif %}
            </div>
            {% endif %}

            {%- if section.settings.show_secondary_menu -%}
            {{ header_icons }}
            {% endif %}

          </div>
        </div>
      </div>
    </section>
    {% endunless%}
    {% endif %}

    <section class="dt-sc-header-logo-sec sticky-header  {{ section.settings.menu_align  }} {% unless section.settings.use_sticky_mobile %} sticky_remove_on_mobile {% endunless %}" {% if section.settings.use_sticky_header %}id="sticky-header"{% endif %}>
      <div class="{% render 'container-settings' %}"> 
        <div class="row">
          {% unless section.settings.show_secondary_menu %}          
          {% if section.settings.menu_align == 'logo_top_center' %}          
          {{logo}}
          {% endif %}
          {% endunless %}             
          <div class="logo-alignment {% if section.settings.show_secondary_menu %} secondary-menu-enabled{% endif %} {% unless section.settings.show_secondary_menu %} dt-sc-{{ section.settings.menu_align }} {% endunless %}">             
            <nav id="AccessibleNav" role="navigation" class="dt-sc-flex-space-between" data-menu="dt-main-menu">             
              {% if  section.settings.menu_align == 'logo_left' or section.settings.menu_align == 'menu_bottom' %}
              {% unless  section.settings.show_secondary_menu %}
              {{ logo }}
              {% endunless %}         
              {% endif %}      
              {% unless section.settings.menu_align == 'menu_bottom' %}
              {{primaryMenu}}              
              {% endunless %}
              {% if section.settings.show_secondary_menu or section.settings.menu_align == 'logo_center'  %}
              {{ logo }}
              {% if section.settings.show_secondary_menu  %}
              {{secondaryMenu}}
              {% endif %}  
              {% endif %}     
              {%- unless section.settings.show_secondary_menu -%}
              {{ header_icons }}
              {% endunless %}              
            </nav>               
          </div>
        </div>      
      </div>

      {% if section.settings.menu_align == 'menu_bottom' %}
      <div class="{% render 'container-settings' %} menu_bottom"> 
        <div class="row">
          <nav id="AccessibleNav" role="navigation" class="dt-sc-flex-space-between dt-sc-flex-center" data-menu="dt-main-menu">  
            {{primaryMenu}}

            <div class="mobile-nav-container mobile-nav-offcanvas-right dt-header-menu" data-menu="dt-main-menu">    
              <div class="menu-trigger" data-menu="dt-main-menu">  <i class="menu-trigger-icon"></i></div>             
            </div>
          </nav>
        </div>
      </div>
      {% endif %}   
{%  render 'mobile-menu', mobileMenu: section.settings.pick_menu %}
    </section>
  </header>
</div>

<script>
  jQuery(document).ready(function($) {  

    "use strict";    
    // Mobile Menu
    if($(window).width() {% if section.settings.show_mobile_as_default -%} > 0 {%- else -%} <= {{ section.settings.mobile_screen_width }} {% endif -%} ) {           
       var phrases = [];
       $('ul.secondary__nav').each(function(){
      var phrase = '';  
      phrase += $(this).html();
      $(phrase).insertAfter("ul.dt-desktop-menu > li:last-child");
    });

    // Move Nav as Mobile Nav
    $("nav.dt-sc-flex-space-between").each(function() {

      var d = $(this).data('menu'),                    
          c = $(this).find('ul[data-menu="' + d + '"]').clone().removeClass('dt-nav'),
          m = $('body').find('.mobile-menu[data-menu="' + d + '"]');        
      // To Remove animation classes
      $('[data-animation]', c).each(function(ix, ele) {
        var $classes = $(ele).attr("class"),
            $animation = $(ele).attr("data-animation");

        $classes = $classes.replace($animation, '');
        $(ele).attr("class", $classes);
      });

      c.prependTo(m);
    });

    mobileTrigger();

    // Closing Mobile Nav
    $('li.close-nav').on('click', function(event) {
      closeMobNav();
    });

    $('body > .mobile-menu-overlay').on('click', function(event) {
      closeMobNav();
    });

    // Sub Menu in Mobile Menu
    $('.menu-item-has-children > a').on('click', function(event) {

      if ($('body').hasClass('nav-is-visible')) {
        event.preventDefault();
        var a = $(this).clone();
        $(this).next('.sub-menu-block').find('.see-all').html(a);          
      }

      var selected = $(this);                
      if (selected.next('div.sub-menu-block').hasClass('is-hidden')) {          
        selected.addClass('selected').next('div.sub-menu-block').removeClass('is-hidden');
      } else {          
        selected.removeClass('selected').next('div.sub-menu-block').addClass('is-hidden');
      }
    });

    // Go Back in Mobile Menu
    $('.go-back').on('click', function() {
      $(this).parent('div.sub-menu-block').addClass('is-hidden');
    });
  }


                         {% unless section.settings.show_mobile_as_default %}

                         // Desktop Menu
                         if($(window).width() >= {{ section.settings.mobile_screen_width | plus: 1  }}) {

    jQuery('.menu-item-has-children > a').mouseenter(function(e) {
      var selected = $(this);
      if (selected.next('div.sub-menu-block').hasClass('is-hidden')) {
        selected.addClass('selected').next('div.sub-menu-block').removeClass('is-hidden');
      } else {
        selected.removeClass('selected').next('div.sub-menu-block').addClass('is-hidden');
      }
      e.preventDefault();
    }).mouseleave(function(e) {
      var selected = $(this);
      if (selected.next('div.sub-menu-block').hasClass('is-hidden')) {
        selected.addClass('selected').next('div.sub-menu-block').removeClass('is-hidden');
      } else {
        selected.removeClass('selected').next('div.sub-menu-block').addClass('is-hidden');
      }
      e.preventDefault();
    });


    function megaMenu() {

      if($("#header .container-fluid").length) {
        var parentRow = $("#header .container-fluid > .row");
        var parentLeft = parseInt(parentRow.css("marginLeft").replace('px', ''));
      } else {
        var parentRow = $("#header .container .row");
        var parentLeft = parseInt(parentRow.offset().left);
      }
      var parentWidth = parentRow.width();        

      $("#header .dt-sc-header-logo-sec .dt-nav li:not(.close-nav)").each(function() {
        var thisItem = $(this);
        if(thisItem.hasClass('has-mega-menu')) {
          var thisItemLeft = thisItem.find('a').offset().left;
          var menuLeft = parseInt(thisItemLeft-parentLeft);
          thisItem.find('.sub-menu-block').css('width', parentWidth);  
          thisItem.find('.sub-menu-block').css('left', -menuLeft);            
        }
      });

      $("#header .sticky-header-active .dt-nav li:not(.close-nav)").each(function() {
        var thisItem = $(this);
        if(thisItem.hasClass('has-mega-menu')) {
          var thisItemLeft = thisItem.find('a').offset().left;
          var menuLeft = parseInt(thisItemLeft-parentLeft);          
          thisItem.find('.sub-menu-block').css('width', parentWidth);  
          thisItem.find('.sub-menu-block').css('left', -menuLeft);            
        }
      });

      window.setTimeout(function(){         
        $(window).trigger('resize');
      }, 800);
    }

    var megaMenuResize = false;      
    $(window).bind("resize", function() {  
      if(!megaMenuResize) {
        megaMenu();  
        megaMenuResize = true;
      }
    });
    megaMenu();
  }
  {% endunless %}


  // Header Sticky
  {% if section.settings.use_sticky_header %}
  if( $("#sticky-header").length > 0 ) {
    var $sticky_header_cloned = $('#sticky-header').clone();
    $sticky_header_cloned.attr('id', 'sticky-header-active').removeClass('dt-sc-header-logo-sec sticky_remove_on_mobile sticky-header').addClass('sticky-header-active');
    $( $sticky_header_cloned ).insertAfter( $('.sticky-header') );
    var position = $('.dt-sc-header-logo-sec.sticky-header').position().top; 
    var position = position + 300;
    $(window).scroll(function() {
      mobileTrigger();
      var scroll = $(window).scrollTop();        
      if(scroll > position) {           
        $("#sticky-header-active.sticky-header-active").addClass('dt-header-top');
        $("#sticky-header-active.sticky-header-active").addClass('dt-header-scroll');
        $("#sticky-header-active.sticky-header-active").show();
      } else {          
        $("#sticky-header-active.sticky-header-active").removeClass('dt-header-top');
        $("#sticky-header-active.sticky-header-active").removeClass('dt-header-scroll');       

      }
    });
  }
  {% endif %}

  });

  // TRIGGER MENU FOR BOTH CASES

  function mobileTrigger(){
    $('.menu-trigger').on('click', function(event) {    
      $('body').find('.mobile-menu').addClass('nav-is-visible');
      $('body').find('.mobile-menu-overlay').addClass('is-visible');
      $('body').addClass('nav-is-visible');
      $("ul.dt-sc-list-inline.dt-desktop-menu:nth-child(2)").remove();         
    });
  }

  function closeMobNav() {
    $('body').removeClass('nav-is-visible');
    $('.mobile-menu-overlay').removeClass('is-visible');
    $('.mobile-menu').removeClass('nav-is-visible');
    $('.menu-item-has-children a').removeClass('selected');
    $('.menu-item-has-children div.sub-menu-block').addClass('is-hidden');
  }

  $(window).on('resize',function() {
    mobileTrigger();
    closeMobNav();    
  });

  $(window).on('load',function() {
    mobileTrigger();
    closeMobNav();    
  });


  $(function() {
    if($(window).width() >= {{ section.settings.mobile_screen_width | plus: 1  }}) {
       $('.tabs-nav a').click(function() {
      // Check for active
      $('.tabs-nav li').removeClass('active');
      $(this).parent().addClass('active');

      // Display active tab
      let currentTab = $(this).attr('href');
      $('.tabs-content li.dt-sc-menu-tabs').hide();
      $(currentTab).show();
      return false;
    });
  }
    if($(window).width() {% if section.settings.show_mobile_as_default -%} > 0 {%- else -%} <= {{ section.settings.mobile_screen_width }} {% endif -%} ) { 
    $('.mobileTabs .tabs  li').each(function(){
      $(this).click(function(){        
        $(this).next('div').slideToggle(1000);        
      });  
    })  
  }
  });

</script>




<style>

  .site-header__links .select-box .select-box__current .select-box__value .select-box__input-text:after { content: ''; display: inline-block; position: relative; width: 8px; height: 8px; border-right: 1px solid currentcolor; border-bottom: 1px solid currentcolor; bottom: 4px;margin-left: 10px;-webkit-transform: rotate(45deg);transform: rotate(45deg); }
  .site-header__links .select-box .select-box__list li label.select-box__option { display: flex; align-items: center; align-content: center; justify-content: flex-start; padding:5px 10px; }
  .site-header__links .select-box .select-box__list li label.select-box__option > span { margin-right: 8px; line-height: normal; }
  .site-header__links .select-box .select-box__list >* { background-color: {{ section.settings.mega_menu_bg }};}

  .select-box { position: relative; display: block; }
  .select-box__current { position: relative; cursor: pointer; outline: none; }
  .select-box__current:focus + .select-box__list { opacity: 1; -webkit-animation-name: none; animation-name: none; }
  .select-box__current:focus + .select-box__list .select-box__option { cursor: pointer; }
  .select-box__current:focus .select-box__icon { -webkit-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg); }
  .select-box__icon { position: absolute; top: 50%; right: 15px; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 20px; opacity: 0.3; -webkit-transition: 0.2s ease; transition: 0.2s ease; }
  .select-box__value { display: -webkit-box; display: flex; }
  .select-box__input { display: none; }
  .select-box__input-text { display: none; height: 30px; padding: 0 10px; }
  .select-box__input:checked + .select-box__input-text { display: block; line-height: 30px; }
  .select-box__list {
    z-index: 1;
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    margin-top: 1px;
  }
  .select-box__option {
    display: block;
    padding: 0px 5px;
    text-align: start;
  }

  @-webkit-keyframes HideList { from { -webkit-transform: scaleY(1); transform: scaleY(1); } to { -webkit-transform: scaleY(0); transform: scaleY(0); } }
  @keyframes HideList { from { -webkit-transform: scaleY(1); transform: scaleY(1); } to { -webkit-transform: scaleY(0); transform: scaleY(0); } }

  header { position: relative; z-index:4; }
  header .announcement-bar { background: {{ section.settings.bg_color }}; color: {{ section.settings.text_color }}; height:{{ section.settings.announcement_height }}px; }
  header .announcement-bar p, .announcement-bar a{ color: {{ section.settings.text_color }}; }
  header .announcement-bar .close:hover, .announcement-bar a:hover { color: {{ section.settings.text_hover_color }}; }
  header .announcement-bar .close{ color: {{ section.settings.text_color }}; } 
  header .dt-sc-social-icons a { color: {{ section.settings.social_icon_color }}; background-color: {{ section.settings.social_icon_bg }};}
  header .dt-sc-social-icons a:hover { color: {{ section.settings.social_icon_hover_color }}; background-color: {{ section.settings.social_icon_hover_bg }};}

  header .header-contact a{color: {{ section.settings.header_contact }}; }
  header .header-contact a:hover{color: {{ section.settings.header_contact_hover }};}
  header .header-contact li + li { padding-left: 10px; }

  header .select2-container{ min-width: 65px;} 
  header .select2-container--classic .select2-selection--single .select2-selection__arrow b { border-top-color: {{ section.settings.icon_color }} !important;}
  header .select2.select2-container.select2-container .select2-selection:hover .select2-selection__arrow b{ border-top-color:{{ section.settings.icon_hover_color}}!important; }
  header .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b{ border-bottom-color:{{ section.settings.icon_hover_color}}!important; }
  header .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__rendered{ color:{{ section.settings.icon_hover_color}}!important;}

  header .dt-sc-header-toggle{ position:relative; }
  header .dt-sc-toggle-content { box-shadow: 0 1px 5px rgba(0,0,0,.1); opacity: 0; visibility: hidden; position: absolute; left: 0; top:50px; width: 200px; white-space: nowrap; background-color: {{ section.settings.mega_menu_bg }}; border-radius: 0 var(--DTRadius) var(--DTRadius) var(--DTRadius); left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); transition: var(--DTBaseTransition); -webkit-transition: var(--DTBaseTransition); }
  header .dt-sc-toggle.open + .dt-sc-toggle-content { z-index:1; opacity: 1; visibility: visible; top:60px; }

  header .dt-sc-header-toggle .dt-sc-toggle-content:before { content: ''; display: block; position: absolute; left: 0px; right: 0; bottom: 100%; width: 0; height: 0; border-bottom: 100px solid {{ section.settings.mega_menu_bg }}; border-top: 10px solid transparent; border-left: 10px solid transparent; border-right: 10px solid transparent; margin: auto; }
  header .site-header__links .dt-sc-toggle-content a { color: {{ section.settings.submenu_color }}; border-radius: 0;justify-content: flex-start;padding: 5px 15px 6px; height: auto; font-size: 0.875em; background-color: {{ section.settings.mega_menu_bg }}; }
  header .site-header__links .dt-sc-toggle-content a:hover { color: {{ section.settings.submenu_hover_color }}; background-color: {{ section.settings.mega_menu_bg }}; }
  header .site-header__links .dt-sc-toggle-content li:not(:last-child) a{ border-bottom: 1px solid {{ settings.primary_color | color_modify: 'alpha', 0.12 }}; }

  header .site-header__links a, 
  header .site-header__links select option, 
  header .site-header__links select,
  header .site-header__links .shopify-currency-form,
  header .site-header__links .select-box__option{font-size:20px; transition: var(--DTBaseTransition); color: {{ section.settings.icon_color }}; background-color: {{ section.settings.icon_bg }}; }
  header .site-header__links .select2.select2-container .select2-selection{height: 30px; display: initial; }
  header .site-header__links a:hover, 
  header .site-header__links select option:hover, 
  header .site-header__links select:hover,
  header .site-header__links .shopify-currency-form:hover,
  header .site-header__links .select-box__option:hover{ transition: var(--DTBaseTransition); color: {{ section.settings.icon_hover_color }}; background-color: {{ section.settings.icon_hover_bg }}; }

  header .dt-sc-social-icons > li { margin: 1px; }
  header .dt-sc-social-icons a{ height: 30px; min-width:30px; display: flex; align-items: center; justify-content: center; cursor: pointer; position: relative; border-radius: var(--DTRadius); }
  header p { margin: 0; padding: 0; }
  header svg{height: 32px;width: 32px;}
  header ul { margin: 0; padding: 0; }
  header .dt-sc-header-top-bar { z-index: 1; padding: 10px 0; background-color: {{ section.settings.topbar_bg }}; }
  header .dt-sc-header-top-bar .dt-sc-flex-space-between { justify-content: center; }
  header .dt-sc-header-top-bar .dt-sc-flex-space-between > * { padding: 2px; align-items: center; }
  header .dt-sc-header-top-bar .dt-sc-flex-space-between > *:not(:only-child) { justify-content: center; text-align: center; min-width: 25%; }
  header .dt-sc-header-top-bar .dt-sc-flex-space-between > *:nth-child(2):nth-last-child(2),
  header .dt-sc-header-top-bar .dt-sc-flex-space-between > *:nth-child(2):nth-last-child(2) > *{ justify-content: center; text-align: center; }
  header .dt-sc-header-top-bar .dt-sc-flex-space-between > *:last-child:not(:only-child), 
  header .dt-sc-header-top-bar .dt-sc-flex-space-between > *:last-child:not(:only-child) > *{ justify-content: flex-end; text-align: end; }
  header .dt-sc-header-top-bar .dt-sc-flex-space-between > *:first-child:not(:only-child) {justify-content: flex-start; text-align: start; }

  header .dt-sc-header-logo-sec{ background-color: {{ section.settings.header_bg }}; }
  header .dt-sc-header-logo-sec, .sticky-header-active{padding:5px 0;}
  {% if section.settings.transparent_header %}
  header .dt-sc-header-logo-sec{ background-color: transparent; position: absolute; left: 0; right: 0;} 
  {% endif %}
  header .site-header__links > * { margin: 1px; }
  header .site-header__links a{ height: 30px; line-height: 30px; display: flex; align-items: center; justify-content: center; margin: 0 20px; padding: 0 5px; cursor: pointer; position: relative; -webkit-border-radius: var(--DTRadius); border-radius: var(--DTRadius); }
  header .site-header__links select{ background-image: url("data:image/svg+xml;utf8,<svg fill='currentcolor' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); background-position: right; background-repeat: no-repeat; cursor: pointer; height: 30px; padding: 0 20px 0 5px; -webkit-border-radius:var(--DTRadius); border-radius:var(--DTRadius);  -webkit-appearance: none; -moz-appearance: none; appearance: none; }
  header .site-header__links .count{ margin:0 0 10px -5px; position: relative; border-radius: 50%; font-size: 10px; min-width: 15px; height: 15px; justify-content: center; align-items: center; line-height: 15px; font-family: arial; display: flex !important; background-color: var(--DT_Button_BG_Hover_Color); color: var(--DT_Button_Text_Hover_Color); }
  header .site-header__links .site-header__cart-count .cart-words{ display:none; }
  header .site-header__cart-toggle{margin-left:0px !important;}
  header .site-header__cart-toggle .icon__fallback-text{font-size:20px !important;}
  header .menu_bottom { position:absolute; z-index:0; }
  header .menu_bottom > .row:before { position:absolute;content:''; height:1px; left: -50%; right: -50%; background-color:{{ section.settings.menu_bottom_border }} }
  header .menu_bottom > .row:after{content:''; z-index: -1;position:absolute; top:0; bottom:0;left: -50%; right: -50%; background-color: {{ section.settings.menu_bottom_bg }} }

  .is-moved-by-drawer:before { opacity: 0; visibility: hidden; background:rgb(0 0 0 / 50%); content:""; position:fixed; bottom:0; left:0; right:0; top:0; transition:var(--DTBaseTransition); z-index:5; }
  .js-drawer-open .is-moved-by-drawer:before { opacity: 1; visibility: visible; }
  .js-drawer-open-right .drawer--right{ transform: translateX(-100%); opacity: 1; visibility: visible; }
  .js-drawer-close.dt-sc-btn{height:30px;width:30px;line-height:30px;font-weight:700;position:absolute;right:0;top:0;padding:0;margin:0;border-radius:0;
    color: var(--DTSecondaryColor); border: none; background: none;
      }
  .js-drawer-close.dt-sc-btn:hover { color: var(--DTPrimaryColor); background: none; }

  .ajaxcart__inner .ajaxcart__product:last-child .row{ border-bottom-width: 0; }
  .drawer{ background:var(--DTBodyBGColor);  height:100%; overflow-y:auto; padding:15px; position:fixed; left: 100%; top:0; width:400px; z-index:6;  transition: all cubic-bezier(.65,.05,.36,1) .3s; -webkit-transition: all cubic-bezier(.65,.05,.36,1) .3s; }
  .drawer--right{ transform: translateX(-90%); opacity: 0; visibility: hidden; }

  #CartDrawer { overflow: visible; padding: 0; color:var(--DTPrimaryColor);}
  #CartDrawer .drawer__header { background: var(--DTBodyBGColor); display: inline-block; padding: 0 30px; width: 100%; z-index: 1; }
  #CartDrawer .drawer__header h4 { font-size: var(--DTFontSize_H3); margin-top: 20px; border-bottom: 1px solid var(--DTColor_Heading); padding-bottom: 20px; }
  #CartDrawer .drawer__header .close-icon { padding:0; right: 30px; top: 20px; }

  #CartContainer { height: 100%; overflow-y: auto; padding: 0 30px 100px; }
  #CartContainer .ajaxcart__inner { margin-top: 10px; margin-bottom: 0; }
  #CartContainer .cart-content > span { width: 100%; float: left; margin-bottom: .5rem; }
  #CartContainer .cart-content > .dt-sc-btn { display: inline-block; border-color: var(--DTPrimaryColor);
    color: var(--DTPrimaryColor);}
  #CartContainer .cart-content > .dt-sc-btn:hover{border-color: var(--DTSecondaryColor);
    color:#fff;}
 #CartDrawer .drawer__header .close-icon:before{    height: 20px;
    width: 20px;}

  .drawer .ajaxcart__product{clear:both;display:block;width:100%; }
  .drawer .ajaxcart__product .row{ border-bottom: 1px solid var(--DTTertiaryColor); display:flex; margin-bottom:15px; padding-bottom:15px; position: relative; }
  .drawer .ajaxcart__product .item_img { max-width:60px; margin-bottom: 5px; }
  .drawer .ajaxcart__product .item_img a { display: inline-block; vertical-align: top; }
  .drawer .ajaxcart__product .details { padding: 0 20px; width: 100%; }
  .drawer .ajaxcart__product .details h6{margin:0 0 0;}
  .drawer .ajaxcart__product .details h6 a{font-size:calc(var(--DTFontSize_H4) + 2px);}
  .drawer .ajaxcart__product .details p{margin:7px 0 0; line-height: normal; }
  .drawer .ajaxcart__product .details .pricing { font-size: 16px; }
  .drawer .ajaxcart__product .details .remove-btn { bottom: 15px; right: 0; top: auto; left: auto; margin: 0; padding: 0; opacity: 1;  }
  .drawer .ajaxcart__product .details .remove-btn svg { width: 26px; height: 26px; }
  .drawer .ajaxcart__product .details p.onsale{font-size: 12px;}

  .drawer .cart_savings.onsale { display: flex;justify-content: space-between;align-items: center;gap: 10px;border-color: var(--DTColor_Border); }
  .drawer .cart_savings.onsale p { margin: 15px 0; }

  .drawer .ajaxcart__product .product-item-caption-qty{ margin-top:8px; }
  .drawer .ajaxcart__product .product-item-caption-qty button.ajaxcart__qty--minus{ border-radius: var(--DTRadius) 0 0 var(--DTRadius) ; }
  .drawer .ajaxcart__product .product-item-caption-qty button.ajaxcart__qty--plus{ border-radius: 0 var(--DTRadius) var(--DTRadius) 0; }
  .drawer .ajaxcart__product-meta{font-size:var(--font-size-body);}
  .drawer .subtotal{display:flex;justify-content:space-between;padding:15px 0;border-width:1px 0;border-style:solid;border-color:var(--DTColor_Border)}
  .drawer .subtotal p{margin:0}
  .drawer .total p{font-weight: normal; margin:10px 0 20px}
  .drawer .ajaxcart__footer { margin-bottom: 15px; }
  .drawer .ajaxcart__footer .multiple_buttons { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; }
  .drawer .ajaxcart__footer .dt-sc-btn{width:100%; margin: 0;color:var(--DTPrimaryColor);border-color:var(--DTPrimaryColor);}
  .drawer .ajaxcart__footer .dt-sc-btn:hover{color:var(--DT_Button_Text_Color);border-color:var(--DTSecondaryColor);}
  .drawer .ajaxcart__product:hover .remove-btn{ opacity: 1; }
  .remove-btn{ opacity: 0; cursor: pointer; padding:2px 5px; line-height: normal; position: absolute; left: 0; top: 0; transition:var(--DTBaseTransition); }

  /* Header Menu */
  .logo-alignment.secondary-menu-enabled #AccessibleNav{ width: 100%; }
  .logo-alignment.secondary-menu-enabled #AccessibleNav > .logo{ flex-grow: 1; max-width: {{ section.settings.logo_max_width }}px; justify-content: center; display:flex; }
  .logo-alignment.secondary-menu-enabled #AccessibleNav > .logo:first-child{ text-align: start; justify-content: left; }
  .logo-alignment.secondary-menu-enabled #AccessibleNav > .logo:last-child{text-align: end; justify-content: flex-end; }
  .logo-alignment.secondary-menu-enabled #AccessibleNav ul:first-child{justify-content: flex-start; }
  .logo-alignment.secondary-menu-enabled #AccessibleNav ul:last-child{ justify-content: flex-end; }
  .logo-alignment.secondary-menu-enabled #AccessibleNav .secondary__nav { display: flex; justify-content: flex-end;}
  .dt-sc-logo_center .dt-desktop-menu,.dt-sc-logo_top_center .dt-desktop-menu{margin:0;}

  div:not(#AccessibleNav) > .logo.text-center{  padding: 10px 0; }
  nav { position: relative;}
  #AccessibleNav{ align-items: center; display: flex; }

  ul.dt-nav { list-style-type: none; padding: 0px; font-size: 0px; max-width: var(--DTContainer);}
  ul.dt-nav > * { margin: 0 1px; }
  ul.dt-nav > li.top-level-link { display: inline-block; padding: 0; position: relative; }
  ul.dt-nav > li.top-level-link:last-child > div.sub-menu-block .sub-menu-block{ right: 100%; left: auto; }
  ul.dt-nav > li > a { display: block; padding:8px 0; margin:12px 25px; position: relative; font-size: {{ section.settings.font_size }}px; box-sizing: border-box; color: {{ section.settings.menu_color }}; border-radius: var(--DTRadius);}
  ul.dt-nav > li:hover > a, ul.dt-nav > li.active > a { background-color: var(--DTPrimaryColor); background-color: {{ section.settings.menu_active_bg }}; }
  ul.dt-nav > li:hover > a, ul.dt-nav li.active > a,
  ul.dt-nav > li:hover > a, ul.dt-nav > li.active > a,
  ul.dt-nav > li.active > a.mega-menu > span:after { color: var(--DTColor_Heading); color: {{ section.settings.menu_active_color }}; }
  ul.dt-nav > li.has-mega-menu > div.sub-menu-block{ text-align:start; }

  ul.dt-nav > li a:before{
    position: absolute; content: ''; display: block; left: -10px; right: 0; 
    bottom: 0; width:100%; height:3px; margin: auto; opacity: 0; 
    transition: all 0.5s; -webkit-transition: all 0.5s;
    background: url({{ 'menu_brdr.png' | asset_url }}) repeat center;  top: auto; -webkit-transform: none;-ms-transform: none; transform: none;
  }
  ul.dt-nav > li:hover > a:before, ul.dt-nav > li.active > a:before {
    opacity: 1;
    left: 0;
    animation: marquee 90s infinite linear;
  }
  ul.dt-sc-list-inline > li ul.sub-menu-lists {  display:block; list-style-type: none; margin: 0; padding: 0; }
  ul.dt-sc-list-inline > li ul.sub-menu-lists > li { position: relative; padding: 3px 0; }
  ul.dt-sc-list-inline > li ul.sub-menu-lists > li > a { color: {{ section.settings.submenu_color }}; display: block; padding: 5px 15px; }
  ul.dt-sc-list-inline > li ul.sub-menu-lists > li.active > a, ul.dt-sc-list-inline > li ul.sub-menu-lists > li > a:hover {color: {{ section.settings.submenu_hover_color }}; }
  ul.dt-sc-list-inline > li:not(.has-mega-menu) ul.sub-menu-lists { padding: 10px 0; }
  ul.dt-sc-list-inline > li:not(.has-mega-menu) ul.sub-menu-lists > li > a { font-size: 0.875em; }
  ul.dt-sc-list-inline > li:not(.has-mega-menu) ul.sub-menu-lists > li > ul{ padding:15px; visibility: hidden; position: absolute; margin-top: 0px; width: 200px; left: 100%; top: 0; box-sizing: border-box; z-index: 3; font-size: 16px; opacity: 0; transition: all 0.4s ease 0s; transform: rotateX(90deg); transform-origin: top center; background-color: {{ section.settings.mega_menu_bg }}; border: 1px solid var(--DTColor_Border); }
  ul.dt-sc-list-inline > li:not(.has-mega-menu) ul.sub-menu-lists > li:hover > ul{ visibility: visible; opacity: 1; -webkit-transform: rotateX(0deg); transform: rotateX(0deg);  }
  ul.dt-sc-list-inline > li:not(.has-mega-menu) ul.sub-menu-lists > li > ul > li a{ display: block; border-bottom: 1px solid var(--DTColor_Border); }
  ul.dt-sc-list-inline > li.has-mega-menu ul.sub-menu-lists > li > a.dt-sc-nav-link.mega-menu {display: block; text-transform: uppercase; margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid  var(--DTColor_Border); }
  ul.dt-sc-list-inline > li.has-mega-menu ul.sub-menu-lists .headding{ display: block;  font-weight: 600; margin: 0 0 10px; padding: 0 0 10px; font-size: {{ section.settings.font_size_sub }}px; border-bottom: 0px solid var(--DTform_BG); }
  ul.dt-sc-list-inline > li ul.sub-menu-lists > li > ul a { position: relative; display: inline-block; font-size: calc({{ section.settings.font_size_sub }}px - 2px); padding:0 0; width: 100%; }
  ul.dt-sc-list-inline > li ul.sub-menu-lists > li > ul a, ul.dt-sc-list-inline > li ul.sub-menu-lists  .headding { color: {{ section.settings.submenu_color }};}
  ul.dt-sc-list-inline > li ul.sub-menu-lists > li > ul a:hover, ul.dt-sc-list-inline > li ul.sub-menu-lists  .headding:hover{color: {{ section.settings.submenu_hover_color }};}

  .sub-menu-head { margin: 10px 0; }
  .banners-area { margin-top: 20px; padding-top: 15px; }
  .dt-sc-menu-product .dt-sc-menu-product_item-info{ text-align: center; background: var(--DT_Button_BG_Color); color: var(--DT_Button_Text_Color); transition: var(--DTBaseTransition);}
  .dt-sc-menu-product .dt-sc-menu-product_item-info:hover{ background: var(--DT_Button_BG_Hover_Color); color: var(--DT_Button_Text_Hover_Color);}
  .dt-sc-menu-product .dt-sc-menu-product_item-info a{ color:currentcolor; transition: none; padding: 10px; display: block; }
  .dt-sc-menu-product .dt-sc-menu-product_item-info .dt-sc-price{ display:none;  margin:0 5px; white-space: pre; }
  .dt-sc-menu-image-with-text .dt-sc-mega_menu, .dt-sc-menu-product__item { overflow:hidden; position:relative; }
  .dt-sc-menu-image-with-text .dt-sc-details{ position: absolute; bottom: -40px; width: 100%; background-color:var(--DTOverlayColor); transition: var(--DTBaseTransition); }
  .dt-sc-menu-image-with-text:hover .dt-sc-details{ bottom:0; }
  .dt-sc-menu-image-with-text .dt-sc-btn, .dt-sc-menu-product .dt-sc-menu-product_item-info{ line-height: normal; margin: 0;  border-radius: 0; }
  .dt-sc-menu-image-with-text:hover .dt-sc-btn, .dt-sc-menu-product:hover .dt-sc-menu-product_item-info{ opacity:1; bottom: 0; visibility:visible; }

  .sticky-header:before { background: #fff; content: ""; display: inline !important; height: 100%; opacity: 0; position: absolute; left: 50%; top: 0; z-index: -1; -webkit-box-shadow: 1px 0 5px -1px var(--DTboxShadowcolor); box-shadow: 1px 0 5px -1px var(--DTboxShadowcolor); -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: var(--DTBaseTransition); transition: var(--DTBaseTransition); }
  .sticky-header.init-sticky { margin: 0 auto; max-width: var(--DTContainer); padding-top: 10px; padding-bottom: 10px; position: fixed; left: 0; right: 0; top: 0; z-index: 99; -webkit-animation-name: fadeInDown; animation-name: fadeInDown; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-delay: .1s; animation-delay: .1s; }
  .sticky-header.init-sticky:before { opacity: 1; }

  @-webkit-keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); } 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } }
  @keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); } 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }   }
  @keyframes marquee { 0% { background-position: 0; } 100% { background-position: -1190px; } }

  /* Tabs menu */
  ul.dt-sc-list-inline > li ul.sub-menu-lists ul{ margin:0;}
  ul.dt-sc-list-inline > li ul.sub-menu-lists ul a { font-size: calc({{ section.settings.font_size_sub }}px - 2px); padding:0 0; }
  ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-nav ul { margin: 0; padding: 0; display: flex; flex-wrap: wrap;border-bottom: 1px solid var(--DTColor_Border); }
  ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-nav .tabs li a { padding:10px; display:block; text-transform: capitalize; border: 1px solid var(--DTColor_Border); border-bottom: none; background-color: var(--DTBodyBGColor); transition: var(--DTBaseTransition); }
  ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-nav .tabs li a:hover,
  ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-nav .tabs li.active a{  background-color: var(--DT_Button_BG_Color); color: var(--DT_Button_Text_Color); }

  ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-content { padding: 10px; display: block; text-transform: capitalize; background-color: var(--DTBodyBGColor); }
  ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-content img { margin-right: 10px; }
  ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-content .row-reverse img { margin-right: 0px; }
  ul.dt-sc-list-inline > li ul.sub-menu-lists .tabs-content li.dt-sc-menu-tabs:not(:first-child) { display: none; }

  /* Vertical/Horizontal tab style containers */
  ul.dt-sc-list-inline > li ul.sub-menu-lists.vertical { grid-template-columns: 300px 1fr; }
  ul.dt-sc-list-inline > li ul.sub-menu-lists.vertical .tabs-nav .tabs li{ display:block; text-transform: capitalize; }  
  ul.dt-sc-list-inline > li ul.sub-menu-lists.vertical .tabs-nav ul{ flex-direction: column; }
  ul.dt-sc-list-inline > li ul.sub-menu-lists.vertical .tabs-nav .tabs li a { padding:8px 15px;}
  ul.dt-sc-list-inline > li ul.sub-menu-lists.horizontal .tabs-nav .tabs li a { padding:10px 30px; border-bottom: none;}
  ul.dt-sc-list-inline > li ul.sub-menu-lists.horizontal .tabs-nav .tabs li:not(:first-child) a { border-left:0px;}
  ul.dt-sc-list-inline > li ul.sub-menu-lists.horizontal .tabs-content { border: 1px solid var(--DTColor_Border); border-top: 0; }

  /* Top Sticky search */
  #dT_top-sticky { padding: 30px; top: 0; left: 0; right: 0; display: none; z-index: 5; position: absolute; background-color: var(--DTBodyBGColor); }
  #dT_top-sticky .search-box { position: relative; display:flex; width: 100%; }
  #dT_top-sticky .search-box .dt-sc-btn{ margin:0; width:80px; }
  #dT_top-sticky .search-box input[type=text] { padding: 0 3rem; }
  #dT_top-sticky .close { position: absolute; right: 10px; top: 50%; transform: translateY(-50%); z-index: 99; }
  #dT_top-sticky .dT_ProductProactiveSearch { position: relative;  display: flex; align-items: center; justify-content: center; margin: auto;}
  #dT_top-sticky .dT_ProductProactiveSearch form{ width: 100%; border: none; background: transparent; }
  #dT_top-sticky .dt-sc-ProductSugesstions{ display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; padding: 10px; }
  #dT_top-sticky .dt-sc-ProductSugesstions:empty{ display: none; }
  #dT_top-sticky .dt-sc-ProductSugesstions li { width: 100%; border: 1px solid var(--DTColor_Border); padding: 10px; margin: 0; }
  #dT_top-sticky a:hover{color:var(--DTTertiaryColor);}
  #dT_top-sticky button{background-color: var(--DTTertiaryColor);color: var(--DTLinkColor);border: var(--DT_Button_border_width) solid var(--DTTertiaryColor);}

  ul.dt-nav > li.has-mega-menu > div.sub-menu-block .dt-sc--main-menu--mega > ul.mega-menu-brands { padding-top: 0; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: var(--DTGutter_Width); }
  ul.dt-nav > li.has-mega-menu > div.sub-menu-block .dt-sc--main-menu--mega > ul.mega-menu-brands li {padding: 30px; background-color:var(--DTBodyBGColor); border: 1px solid var(--DTColor_Border); }

  header .tag{ white-space: nowrap; font-size: 10px; padding: 2px 5px; position: absolute; top: -20px; left: 0px; line-height: normal; font-style: normal; text-transform: uppercase; width: auto; border-radius: var(--DT_Button_Border_Radius); font-weight: bold; }
  header .tag:after{ content: ''; position: absolute; border-width:5px 0px 5px 5px; border-style: solid; border-color: transparent;  bottom: -10px; left: 8px; }
  header .tag.hot  {background:var(--DT_Error_Color); color:var(--DTBodyBGColor); animation-delay: 200ms; }
  header .tag.new  {background:var(--DT_Success_Color); color:var(--DTBodyBGColor); animation-delay: 400ms; }
  header .tag.sale {background:var(--DT_Info_Color); color:var(--DTBodyBGColor); animation-delay: 600ms; }
  header .tag.hot:after  {border-top-color:var(--DT_Error_Color);}
  header .tag.new:after  {border-top-color:var(--DT_Success_Color);}
  header .tag.sale:after {border-top-color:var(--DT_Info_Color);}

  /* Sticky header overlay */
  #header .sticky-header-active { background-color: {{ section.settings.mega_menu_bg | color_modify: 'alpha', 0.9 }}; clear: both; margin: auto; position: fixed; left: 0; right: 0; top: 0;     opacity: 0;     visibility: hidden;     -webkit-transform: translateY(-100%);         transform: translateY(-100%);  -webkit-transition: .5s cubic-bezier(.25,.8,.25,1) 0.05s; transition: .5s cubic-bezier(.25,.8,.25,1) 0.05s;}
  #header .sticky-header-active.dt-header-top { opacity: 1; visibility: visible; z-index: 10; -webkit-transform: translateY(0); transform: translateY(0); }

  /* Removed all @media (max-width: …) blocks below this line */

  /* Desktop-only rules retained */
  @media (min-width:{{section.settings.mobile_screen_width | plus: 1 }}px) {
    .tabs-nav.mobileTabs{display:none;}
    .dt-desktop-menu { display: inline-block;margin:auto; }
    {% if section.settings.show_mobile_as_default %}
    .dt-desktop-menu, .logo-alignment.secondary-menu-enabled #AccessibleNav .dt-desktop-menu.secondary__nav { display: none; }
    .mobile-nav-container, .dt-desktop-menu ul.dt-sc-list-inline .go-back, .dt-desktop-menu ul.dt-sc-list-inline .see-all { display: block; }
    {% else %}
    .mobile-nav-container, .dt-desktop-menu ul.dt-sc-list-inline .go-back, .dt-desktop-menu ul.dt-sc-list-inline .see-all { display: none; }
    {% endif %}
    .logo-alignment.dt-sc-logo_left #AccessibleNav .site-header__links { margin-left:70px; padding-left: 5px; }
  }

  @media (min-width:992px) {
    header .dt-sc-header-top-bar .dt-sc-flex-space-between > *:last-child:not(:only-child) { margin-left: auto; }
    header .dt-sc-header-top-bar .dt-sc-flex-space-between > *:first-child:not(:only-child) { margin-right: auto; }
  }

  @media (min-width:768px) {
    .logo-alignment.dt-sc-logo_left #AccessibleNav { justify-content: center; }
    .logo-alignment.dt-sc-logo_left #AccessibleNav .logo { margin-right: auto; padding-right: 5px; }
    .logo-alignment.dt-sc-logo_left #AccessibleNav .mobile-nav-container { padding: 2px; }

    .logo-alignment.dt-sc-logo_left:not(.secondary-menu-enabled) .mobile-nav-container .menu-trigger > i, 
    .logo-alignment.dt-sc-logo_left:not(.secondary-menu-enabled) .mobile-nav-container .menu-trigger > span { color: {{ section.settings.icon_color }}; }
    .logo-alignment.dt-sc-logo_left:not(.secondary-menu-enabled) .mobile-nav-container .menu-trigger { background-color: {{ section.settings.icon_bg }}; padding: 0 10px;  }        

    ul.dt-nav li  a span{ position: relative; }
    ul.dt-nav > li.has-mega-menu > div.sub-menu-block{ width: var(--DTContainer); }
    ul.dt-nav { position: relative; }
    ul.dt-nav > li.has-mega-menu > div.sub-menu-block .dt-sc--main-menu--mega > ul{ display: grid; padding: 30px; }
    ul.dt-nav > li.has-mega-menu > div.sub-menu-block .dt-sc--main-menu--mega > ul > li { padding: 0; }
    ul.dt-nav li > div.sub-menu-block { position: absolute; left: 0; top: 100%; width:150px; z-index : 3; box-shadow: 0 1px 5px rgba(0,0,0,.1); box-sizing: border-box; transition: 0.2s all linear; -webkit-animation-name: dt_fadeInDown; animation-name: dt_fadeInDown; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both;animation-fill-mode: both; background-color: {{ section.settings.mega_menu_bg }}; font-size: {{ section.settings.font_size_sub }}px; }

    ul.dt-nav li > div.sub-menu-block .sub-menu-block{ left: 100%; top: 0; }
    ul.dt-nav > li > div.sub-menu-block.dt-sc--main-menu--mega { width:var(--DTContainer); }
    ul.dt-nav li > div.sub-menu-block { display: none; opacity: 0; pointer-events: none; }
    ul.dt-nav li:hover > div.sub-menu-block { display: block; opacity: 1; pointer-events: auto; border-radius: var(--DTRadius); margin-top:5px;}
    .sub-menu-block .sub-menu-lists li ul li { padding: 5px 0;}

    ul.dt-nav > li > a.dropdown > .dt-sc-caret{ margin-left:3px;  top: 50%;transform:  translateY(-50%); }
    ul.dt-nav > li > a.dropdown > .dt-sc-caret:after { width: 7px; height: 7px; transform: rotate( 135deg ); border-right: 2px solid currentColor; border-top: 2px solid currentColor; content: ''; background-color: transparent; display: inline-block; vertical-align: middle; transition: all 0.4s ease-in-out 0s;margin-bottom: 3px; }
    @keyframes dt_fadeInDown { 0% { opacity: 0; -webkit-transform: translate3d(0,-15px,0); transform: translate3d(0,-15px,0); } 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } }

    .sub-menu-head { font-size: 20px;}
    .banners-area { border-top: 1px solid var(--DTColor_Border); }
  }

  /* Non-media utility tweaks */
  .menu-trigger{ display: none; }
  a.site-header__icon svg { width: 20px; height: 20px; }
  a.site-header__cart svg{ width: 20px; height: 30px; }
  header .site-header__cart-count{display:block !important;}
  header .site-header__cart-count .CartCount{ left: 35px;top: -15px;}

</style> 




{% schema %}
{
  /* schema unchanged */
  "name": "Header",
  "max_blocks": 6,
  "settings": [
    { "type": "checkbox", "id": "full", "label": "Enable Full width", "default": false },
    { "type": "checkbox", "id": "spacing_both_ends", "label": "Enable Right & Left Spacing (Works only on Fullwidth)", "default": true },
    { "type": "checkbox", "id": "use_sticky_header", "label": "Enable sticky header", "default": true },
    { "type": "checkbox", "id": "use_sticky_mobile", "label": "Enable mobile sticky ", "default": false },
    { "type": "checkbox", "id": "transparent_header", "label": "Enable Transparent Header", "default": false },
    { "type": "header", "content": "Announcement bar" },
    { "type": "checkbox", "id": "show_announcement", "label": "Enable announcement", "default": true },
    { "type": "checkbox", "id": "hide_announcement_mobile", "label": "Hide announcement on mobile", "default": true },
    { "type": "checkbox", "id": "home_page_only", "label": "Home page only", "default": true },
    { "type": "color", "id": "bg_color", "label": "Background", "default": "#D8F3F5" },
    { "type": "color", "id": "text_color", "label": "Text", "default": "#206469" },
    { "type": "color", "id": "text_hover_color", "label": "Hover Text", "default": "#1A1A1A" },
    { "type": "richtext", "id": "text", "label": "Announcement text", "default": "<p>Announce something <a href='#'>here</a></p>" },
    { "type": "range", "id": "announcement_height", "label": "Announcement Height", "min": 20, "max": 100, "step": 1, "unit": "px", "default": 40 },
    { "type": "header", "content": "Topbar" },
    { "type": "color", "id": "topbar_bg", "label": "Topbar Background", "default": "#206469" },
    { "type": "checkbox", "id": "disable_topbar", "label": "Disable topbar", "default": false },
    { "type": "checkbox", "id": "disable_topbar_mobile", "label": "Disable topbar in mobile", "default": false },
    { "type": "header", "content": "Header Contact" },
    { "type": "text", "id": "header_mail", "label": "Mail", "default": "sample@somedomain.com" },
    { "type": "text", "id": "header_phone", "label": "Phone No", "default": "9876543210" },
    { "type": "color", "id": "header_contact", "label": "Contact - Color", "default": "#fff" },
    { "type": "color", "id": "header_contact_hover", "label": "Contact - Hover", "default": "#D8F3F5" },
    { "type": "header", "content": "Logo" },
    { "type": "image_picker", "id": "logo", "label": "Logo image" },
    { "type": "range", "id": "logo_max_width", "label": "Custom logo width", "min": 100, "max": 400, "step": 5, "unit": "px", "default": 100 },
    { "type": "select", "id": "menu_align", "label":"Logo & Menu Alignment", "default": "logo_left", "info": "Only for primary menu", "options": [{"value":"logo_left","label":"Logo left"},{"value":"logo_top_center","label":"Logo top center"},{"value":"logo_center","label":"Logo center"},{"value":"menu_bottom","label":"Menu bottom"}] },
    { "type": "text", "id": "mobile_screen_width", "label": "Mobile Menu start from", "default": "1280", "info": "Units not needed. 'px' comes by default" },
    { "type": "checkbox", "id": "show_header_social", "label": "Enable social links", "default": true },
    { "type": "radio", "id": "search_type", "label": "Search type", "default": "search-icon", "options": [{"value":"search-icon","label":"Icon"},{"value":"none","label":"None"}] },
    { "type": "checkbox", "id": "enable_predictive_search", "label": "Enable predictive search", "default": true },
    { "type": "header", "content": "Social Icon Colors" },
    { "type": "checkbox", "id": "enable_social_icon", "label": "Enable Social Icon", "default": true },
    { "type": "color", "id": "social_icon_color", "label": "Social Icon - color", "default": "#206469" },
    { "type": "color", "id": "social_icon_hover_color", "label": "Social Icon - Hover", "default": "#ffffff" },
    { "type": "color", "id": "social_icon_bg", "label": "Social Icon - BG", "default": "#ffffff" },
    { "type": "color", "id": "social_icon_hover_bg", "label": "Social Icon - Hover BG", "default": "#70BDC2" },
    { "type": "header", "content": "Header Icon's" },
    { "type": "checkbox", "id": "show_account", "label": "Enable Account Link", "default": true, "info": "Customer accounts must be enabled in your Shopify checkout settings" },
    { "type": "checkbox", "id": "show_header_cart", "label": "Enable Cart", "default": true },
    { "type": "checkbox", "id": "show_header_wishlist", "label": "Enable wishlist", "default": true },
    { "type": "checkbox", "id": "show_header_compare", "label": "Enable Compare It", "default": true },
    { "type": "header", "content": "Header Icon Colors" },
    { "type": "color", "id": "icon_color", "label": "Icon color", "default": "#fff" },
    { "type": "color", "id": "icon_hover_color", "label": "Icon Hover color", "default": "#fff" },
    { "type": "color", "id": "icon_bg", "label": "Icon BG", "default": "#206469" },
    { "type": "color", "id": "icon_hover_bg", "label": "Icon Hover BG", "default": "#70BDC2" },
    { "type": "header", "content": "Menu" },
    { "type": "checkbox", "id": "enable_menu_indicator", "label": "Enable Menu Indicator", "default": false },
    { "type": "link_list", "id": "pick_menu", "label": "Primary Menu", "default": "main-menu" },
    { "type": "checkbox", "id": "show_secondary_menu", "label": "Enable seconday menu", "default": false },
    { "type": "link_list", "id": "secondary_menu", "label": "Secondary Menu", "default": "main-menu" },
    { "type": "header", "content": "Menu Colors" },
    { "type": "color", "id": "header_bg", "label": "Header Background", "default": "#D8F3F5" },
    { "type": "color", "id": "menu_color", "label": "Menu Color", "default": "#1A1A1A" },
    { "type": "color", "id": "menu_active_color", "label": "Menu Active Color", "default": "#206469" },
    { "type": "color", "id": "menu_active_bg", "label": "Menu Active BG", "default": "#D8F3F5" },
    { "type": "color", "id": "mega_menu_bg", "label": "Mega Menu BG", "default": "#D8F3F5" },
    { "type": "color", "id": "submenu_color", "label": "Sub menu color", "default": "#1A1A1A" },
    { "type": "color", "id": "submenu_hover_color", "label": "Sub menu hover color", "default": "#206469" },
    { "type": "header", "content": "Menu bottom color" },
    { "type": "color", "id": "menu_bottom_bg", "label": "Menu bottom BG", "default": "#D8F3F5" },
    { "type": "color", "id": "menu_bottom_border", "label": "Bottom Menu border color", "default": "#D8F3F5" },
    { "type": "range", "id": "font_size", "label": "Parent menu font size", "min": 14, "max": 50, "step": 1, "unit": "px", "default": 16 },
    { "type": "range", "id": "font_size_sub", "label": "Sub menu font size", "min": 14, "max": 50, "step": 1, "unit": "px", "default": 16 },
    { "type": "header", "content": "Money options" },
    { "type": "checkbox", "id": "show_header_currency", "label": "Enable Currency selector", "default": true },
    { "type": "header", "content": "Sale" },
    { "type":"checkbox","id":"enable_sale","label":"Display Sale Tag","default":true },
    { "type":"text","id":"sale_txt","label":"Sale","default":"Sale" },
    { "type":"textarea","id":"sale_tags","label":"Map sale tag with menus","info":"Separate with comma[,]" },
    { "type":"header","content":"New" },
    { "type":"checkbox","id":"enable_new","label":"Display New Tag","default":true },
    { "type":"text","id":"new_txt","label":"New","default":"New" },
    { "type":"textarea","id":"new_tags","label":"Map new tag with menus","info":"Separate with comma[,]" },
    { "type":"header","content":"Hot" },
    { "type":"checkbox","id":"enable_hot","label":"Display Hot Tag","default":true },
    { "type":"text","id":"hot_txt","label":"Hot","default":"Hot" },
    { "type":"textarea","id":"hot_tags","label":"Map hot tag with menus","info":"Separate with comma[,]" }
  ],
  "blocks": [
    /* blocks unchanged (promo_image, promo_banner, brands, product, tab) */
  ]
}
{% endschema %}
