{% assign margin = section.settings.margin | split: ',' %}
{% assign margin_top = margin[0] %}
{% assign margin_bottom = margin[1] %} 
{% assign padding = section.settings.padding | split: ',' %}
{% assign padding_top = padding[0] %}
{% assign padding_bottom = padding[1] %} 
<div class="{% render 'container-settings' %}">
    <h3 class="section-header__title {{ section.settings.heading_position}}">   {{ section.settings.heading}}</h3>
  <div class="row">
<div class="product-recommendations " data-product-id="{{ product.id }}" data-limit="4">    
      {%- if recommendations.products_count > 0 -%}
      <div class="swiper-container dT_VProdRecommendations">
        <ul class="swiper-wrapper dt-sc-column four-column">
          {%- for product in recommendations.products -%}
         <li class="swiper-slide grid-item product-grid-item {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %} {{carousel}}" id="product-{{ product.id }}">
  <div class="products">
    <div class="product-container">  
       {% render 'new-label' , product: product %}   
      {% if settings.enable_timer %}
      {% render 'deal-snippet', productID: product.id, product: product %} 
      {% endif %}
      <a href="{{ product.url | within: collection }}" class="grid-link product-group">            
        {% unless sold_out %}
        {% if on_sale and settings.collections_show_sale_circle %}
        <div class="featured-tag">
          <span class="badge badge--sale">          
            <span class="gift-tag badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
          </span>
        </div>
        {% endif %}
        {% endunless %}
        {% if sold_out and settings.collections_show_sold_out_circle %}
        <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
        {% endif %} 
        <div class="image_group">
          <div class="ImageOverlayCa"></div>
          {% if settings.secondary_image_use %}
          {% if product.images.size > 1 %}
          <div class="reveal"> 
            <span class="product-additional">            
              <img loading=lazy src="{{ 'loading-large.gif' | asset_url }}" data-src="{{ product.featured_image.src | img_url: '600x' }}" class="featured-image teaser lazyload" alt="{{ product.featured_image.alt | escape }}">            
            </span>          
            <img loading=lazy  src="{{ 'loading-large.gif' | asset_url }}" data-src="{{ product.images.last | product_img_url: '600x' }}" class="hidden-feature_img teaser lazyload" alt="{{ product.images.last.alt | escape }}" />
          </div> 
          {% else %}
          <img loading=lazy src="{{ 'loading-large.gif' | asset_url }}" data-src="{{ product.featured_image.src | img_url: '600x' }}" class="featured-image teaser lazyload" alt="{{ product.featured_image.alt | escape }}">
          {% endif %}
          {% else %}
          <img loading=lazy src="{{ 'loading-large.gif' | asset_url }}" data-src="{{ product.featured_image.src | img_url: '600x' }}" class="featured-image teaser lazyload" alt="{{ product.featured_image.alt | escape }}">        
          {% endif %} 
        </div>
      </a>
      <div class="product_right_tag  {% if on_sale %} offer_exist {% endif %}">
        {% if on_sale %}{% render 'offer-price', product: current_variant %} {% endif %}         
      </div>
      <div class="ImageWrapper">        
        <div class="product-button dt-sc_{{settings.product_button_style}} {{ settings.icon_alignment}}"> 
          {% if settings.product_button_style == 'icon' %}
          <div>
            {% if settings.enable_add_cart %}
            {% if product.available %}               
            {% form 'product', product, data-product-form:product_form_config %}                                  
            <input type="hidden" name="id" class="variant-push" value="{{ product.variants[0].id }}" />  
            <button type="submit" name="add"  class="dT_AddToCart btn"></button>
            {% endform %}          
            {% endif %}
            {% endif %} 
          </div>
          {% endif %}          

          {% if settings.enable_compare %}           
          <div>
            <dtx-compare><a href="javascript:void(0);" class="add-compare" data-product_handle="{{ product.handle }}"></a></dtx-compare>
          </div>  
          {% endif %} 

          {% if settings.enable_wishlist %}
          {%- render 'button-wishlist', product: product -%}
          {% endif %}

          {% if settings.enable_quick_view %}
          <div>
            <a data-url="{{productURL}}" 
               class="product-thumb-full-quick-view popup-product quick-view-btn dt-sc-btn" 
               href="{{ product.url | within: collection }}"
               data-product-id="{{ product.id }}" 
               data-slider-type="slider_gallery" 
               data-effect="mfp-move-from-top"></a>
          </div>
          {% endif %}  
        </div>
      </div>
    </div>

    <div class="product-detail {{ settings.item_aignment}}">
      {% if settings.display_vendor %}<p class="product-vendor"><span>{{ product.vendor }}</span></p>{% endif %}
      <h3  class="grid-link__title"><a href="{{ product.url | within: collection }}">{{ product.title }}<span class="choosen-swatch"></span></a></h3>   
      {% if settings.product_button_style == 'icon' %}
      {% render 'variant-tag-color', product: product %}   
      {% endif %}
      {% if settings.truncated_description %}
      <div class="product_desc grid_list">{{ product.description | strip_html | truncatewords: settings.excerpt_count }}</div>
      {% endif %}
      <div class="grid-link__meta">
        {% render 'product-price', variant: product %}  
      </div>  
      {% if settings.product_review %}
      <span class="shopify-product-reviews-badge spr-badge" data-id="{{ product.id }}"></span> 
      {% endif %} 
      {% if settings.product_button_style == 'button' %}
      {% if product.available %}   
      {% form 'product', product, data-product-form:product_form_config %}  
      {% render 'variant-tag-color',product: product %}   
      <input type="hidden" name="id" class="variant-push" value="{{ product.variants[0].id }}" /> 

      {% if settings.enable_add_cart %}
      <button type="submit" name="add" class="dT_AddToCart dt-sc-btn">{{ 'products.product.add_to_cart' | t }}</button>        
      {% endif %}

      {% endform %}         
      {% endif %}  
      {% endif %} 


      {% if product.variants.first.inventory_quantity > 0 and product.metafields.my_fields.stock_initial != blank %}
      {% assign productStartCount = product.metafields.my_fields.stock_initial | times: 1 %}
      {% if productStartCount > 0 %}
      {% assign productInventory = product.variants.first.inventory_quantity %}
      <div class="items-left">
        <div class="status-bar">
          <div class="sold-bar" style="width: {{ productStartCount | minus: productInventory }}%"></div>
        </div>

        <p><span class="item_sold">{{ 'products.product.sold' | t }} {{ productStartCount | minus:productInventory }}</span> <span class="item-ramain">{{ 'products.product.remain' | t }} {{ productInventory }}</span></p>
      </div>
      {% else %}
      <p> {{ 'products.product.all_sold' | t }}</p>
      {% endif %}
      {% endif %}

      <div class="for-list-alone">
        {% assign productVariantSize = product.variants | size %}          
        {% if productVariantSize > 1 %}
        <a  title="{{ 'products.product.select_options' | t }}" href="{{ product.url }}" class="dt-sc-btn">{{ 'products.product.select_options' | t }}</a>
        {% else %}
        {% form 'product', product, data-product-form:product_form_config %}             
        <input type="hidden" name="id" class="variant-push" value="{{ product.variants[0].id }}" /> 
        {% if settings.enable_add_cart %}  
        <div class="dt-sc-btn-group">
          <button type="submit" name="add" class="dT_AddToCart dt-sc-btn">
            {{ 'products.product.add_to_cart' | t }}
          </button>        
        </div>
        {% endif %}      
        {% endform %} 
        {% endif %}      
      </div>

    </div>
  </div>  
</li>
          {%- endfor -%}
        </ul>
        
         <!-- Add Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>

<style>
  .dT_VProdRecommendations{ margin-top:40px;}
  @media only screen and (min-width: 1200px) { #shopify-section-{{section.id}} { margin-top:{{margin_top}}px; margin-bottom:{{margin_bottom}}px;padding-top:{{padding_top}}px; padding-bottom:{{padding_bottom}}px; } }
  @media only screen and (max-width: 1199px) { #shopify-section-{{section.id}} { margin-top:{{margin_top | divided_by: 2 }}px; margin-bottom:{{margin_bottom | divided_by: 2}}px;padding-top:{{padding_top | divided_by: 2}}px; padding-bottom:{{padding_bottom | divided_by: 2}}px;} }
</style>

  <script>

   $(document).ready(function() {
    // Your initial code here
    setTimeout(function() {
         const swiper = new Swiper('.swiper-container', {
         slidesPerView: 4,
          draggable: true,
           loop:true,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        // when window width is >= 640px
        640: {
          slidesPerView: 2,
         
        },
        // when window width is >= 768px
        768: {
          slidesPerView: 3,
         
        },
        // when window width is >= 1024px
        1024: {
             slidesPerView: 3,
        
        },
      },
    });
    }, 1000); 
});
  
  </script>
{% schema %}
{
"name": "Product recommendations",
"settings": [
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "checkbox",
"id": "spacing_both_ends",
"label": "Enable Right & Left Spacing (Works only on Fullwidth)",
"default": false
},
{
"type": "text",
"id": "padding",
"label": "Style value (Padding)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Recommended products"
},
{
"type": "select",
"id": "heading_position",
"label": "Heading Position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "Right"
}
]
}
]
}
{% endschema %}



{% javascript %}
{% endjavascript %}

